.cover__subtitle {
  grid-row: 3/4;
  grid-column: 1/2;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  z-index: 5;
  max-width: 382px;
  align-self: flex-end;
  margin: 0 auto 48px;
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    margin: 0 auto 40px;
  }
}

@media screen and (max-width: 375px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 17px;
    margin: 0 auto 34px;
    max-width: 343px;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    margin: 0 auto 26px;
    max-width: 288px;
  }
}
