@import url("../cover-bg/__title/cover__title.css");
@import url("../cover-bg/__subtitle/cover__subtitle.css");

.cover-bg {
  grid-column: 1/2;
  grid-row: 1/4;
  max-width: 100%;
  object-fit: cover;
  box-sizing: content-box;
  transition: 1s linear;
}

.cover:hover .cover-bg {
  opacity: 0.3;
}

@media screen and (max-width: 1024px) {
  .cover-bg {

  }
}

@media screen and (max-width: 768px) {
  .cover-bg {
  }
}

@media screen and (max-width: 375px) {
  .cover-bg {
    height: 272px;
  }
}

@media screen and (max-width: 320px) {
  .cover-bg {
    height: 216px;
  }
}
