.video__item {
  max-width: 583px;
  max-height: 323px;
  position: relative;
}

.video__item:hover .video__item-bg{
  opacity: 0.5;
}

@media screen and (max-width: 1024px) {
  .video__item {
    max-width: 456px;
    max-height: 288px;
  }
}

@media screen and (max-width: 768px) {
  .video__item {
    max-width: 352px;
    max-height: 200px;
  }
}

@media screen and (max-width: 375px) {
  .video__item {
    max-width: 343px;
    max-height: 200px;
  }
}

@media screen and (max-width: 320px) {
  .video__item {
    max-width: 288px;
    max-height: 192px;
  }
}
