.intro__content-row {
  max-width: 70%;
  margin: 48px 0 24px;
}

@media screen and (max-width: 768px) {
  .intro__content-row {
    max-width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .intro__content-row {
    max-width: 100%;
    margin: 32px 0 32px;
  }
}

@media screen and (max-width: 320px) {
  .intro__content-row {
    max-width: 100%;
    margin: 32px 0 32px;
  }
}
