.footer__links {
  display: flex;
  justify-content: space-around;
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}

@media screen and (max-width: 768px) {
  .footer__links {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 375px) {
  .footer__links {
    flex-direction: column;
    margin-bottom: 48px;
  }
  .footer__links li{
    margin: 0 0 32px 0;
  }
  .footer__links li:last-child{
    margin: 0px;
  }
}
