.video__text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  max-width: 56%;
}

@media screen and (max-width: 1024px) {
  .video__text {
    bottom: 35px;
    max-width: 71%;
  }
}

@media screen and (max-width: 768px) {
  .video__text {
    bottom: 24px;
    left: 24px;
    max-width: 82%;
  }
}

@media screen and (max-width: 614px) {
  .video__text {
    bottom: 15px;
  }
}

@media screen and (max-width: 550px) {
  .video__text {
    max-width: 87%;
    bottom: 24px;
  }
}

@media screen and (max-width: 320px) {
  .video__text {
    max-width: 89%;
    bottom: 16px;
    left: 16px;
  }
}
