.video__title {
  margin: 12px 0 18px 0;
  font-weight: 900;
  font-size: 36px;
  line-height: 39px;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .video__title {
    font-size: 3.515625vw;
    line-height: 3.80859375vw;
  }
}

@media screen and (max-width: 880px) {
  .video__title {
    margin: 8px 0 12px 0;
  }
}

@media screen and (max-width: 768px) {
  .video__title {
    font-size: 3.125vw;
    line-height: 3.385vw;
  }
}

@media screen and (max-width: 650px) {
  .video__title {
    margin: 8px 0 10px 0;
  }
}

@media screen and (max-width: 550px) {
  .video__title {
    margin: 8px 0 10px 0;
    font-size: 6.4vw;
    line-height: 6.93vw;
  }
}
