.video__icon-play {
  position: absolute;
  top: 30px;
  left: 30px;
  max-width: 41px;
}

@media screen and (max-width: 1024px) {
  .video__icon-play {
    max-width: 9%;
  }
}

@media screen and (max-width: 768px) {
  .video__icon-play {
    max-width: 11.65%;
    top: 24px;
    left: 24px;
  }
}

@media screen and (max-width: 614px) {
  .video__icon-play {
    top: 15px;
  }
}

@media screen and (max-width: 550px) {
  .video__icon-play {
    max-width: 11.95%;
  }
}

@media screen and (max-width: 320px) {
  .video__icon-play {
    max-width: 14.24%;
    top: 16px;
    left: 16px;
  }
}

