.lead__subtitle {
  max-width: 583px;
  font-size: 1.87rem;
  line-height: 2.25rem;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto 78px;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 65px;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    max-width: 720px;
    font-size: 3.90625vw;
    line-height: 4.6875vw;
  }
}

@media screen and (max-width: 375px) {
  .lead__subtitle {
    max-width: 343px;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 32px;
  }
}
