.video__subtitle {
  margin: 0;
  font-size: 14px;
  line-height: 15px;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .video__subtitle {
    font-size: 1.3671875vw;
    line-height: 1.46484375vw;
  }
}

@media screen and (max-width: 768px) {
  .video__subtitle {
    font-size: 1.823vw;
    line-height: 1.953125vw;
  }
}

@media screen and (max-width: 550px) {
  .video__subtitle {
    font-size: 3.73vw;
    line-height: 4vw;
  }
}

@media screen and (max-width: 320px) {
  .video__subtitle {
    font-size: 14px;
    line-height: 15px;
  }
}
