.video__item-bg {
  max-width: 100%;
  object-fit: cover;
  box-sizing: border-box;
  transition: .3s linear;
}

@media screen and (max-width: 320px) {
  .video__item-bg {
    height: 192px;
    border-radius: 3px;
  }
}
