.cover__title {
  grid-row: 2/3;
  grid-column: 1/2;
  font-weight: 900;
  font-size: 72px;
  line-height: 78px;
  text-align: center;
  color: #FFFDFD;
  z-index: 5;
  align-self: flex-end;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    max-width: 570px;
    font-size: 7.03125vw;
    line-height: 7.6171875vw;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    font-size: 9.375vw;
    line-height: 10.15625vw;
  }
}

@media screen and (max-width: 375px) {
  .cover__title {
    font-size: 8.53vw;
    line-height: 9.33vw;
    color: #FFFFFF;
    max-width: 250px
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
}
