.comment__image {
  margin-bottom: 42px;
  border-radius: 50px;
 }

@media screen and (max-width: 768px) {
  .comment__image {
    margin-bottom: 16px;
    grid-row: 1/2;
  }
}

@media screen and (max-width: 320px) {
  .comment__image {
    max-width: 96px;
    max-height: 96px;
    margin-bottom: 17px;
  }
}
