.video__container {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  opacity: .8;
}

@media screen and (max-width: 1024px) {
  .video__container {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .video__container {
    max-width: 720px;
  }
}

@media screen and (max-width: 375px) {
  .video__container {
    flex-direction: column;
  }
}
